.video-container {
    background-color: #fff;
    margin: auto;
    width: 80%;
    border-radius: 10px;
    margin-top: 3rem;
    margin-bottom: 6rem;
    height: 900px;
}

.h-icon-submit {
    margin: auto;
}

.file-input {
    left: 48.5%;
    position: relative;
    cursor: pointer;
    margin-bottom: 1rem;
}

.file-input img {
    margin-top: .5rem;
}


/*AQUI EMPIEZA EL DISEÑO DEL SELECT*/

body {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

select::-ms-expand {
    display: none;
}

.select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
    top: 350px;
    left: 350px;
}

.select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select:hover::after {
    color: #23b499;
}


/*SELECT DOS*/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color: #fff;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
}

select::-ms-expand {
    display: none;
}

.select-dos {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
    top: 370px;
    left: 350px;
}

.select-dos::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #2b2e2e;
    cursor: pointer;
    pointer-events: none;
    transition: .25s all ease;
}

.select-dos:hover::after {
    color: #23b499;
}


/*Aqui termina el select dos*/

textarea {
    margin-top: 1rem;
    height: 40%;
    margin-bottom: 2rem;
    background: none;
    border: 2px solid #e1e5ee;
    border-radius: 0.5rem;
    color: black;
    outline: none;
    padding: 1rem;
    font-size: 1.3rem;
    resize: none;
    width: 85%;
    margin-left: 5%;
}

textarea:hover {
    border-color: #7AF065;
}

textarea:focus {
    border-color: #18ffff;
}


/*DISEÑO DEL BOTON DE ENVIAR BUSQUEDA*/

.btn {
    position: relative;
    display: inline;
    left: 42%;
    right: 38%;
    height: 40px;
    width: 120px;
    border-radius: 4px;
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    padding: 0;
    font-size: 1.3rem;
    overflow: hidden;
    transition: all 500ms ease;
    border: 2px solid #0000;
    bottom: -21rem;
    z-index: 0;
    font-weight: 10;
    cursor: pointer;
    font-family: 'Inter', sans-serif;
    top: 200px;
}

.btn::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    background-color: #9A2119;
    transition: all 500ms ease;
    z-index: -1;
}

.btn--2:hover {
    background-color: #9A2119;
    box-shadow: 0 0 10px #20e2d7, 0 0 20px #20e2d7, 0 0 20px #20e2d7;
    color: #fff;
}

@keyframes shadow-pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(32, 226, 215, 0.6);
    }
    100% {
        box-shadow: 0 0 8px 16px rgba(32, 226, 215, 0);
    }
}